@use "../app/breakpoints.scss" as *;

:root {
  --background: #285082;
  --red-color: #e03a3e;
  --white-color: #fff;
  --background: linear-gradient(
    135deg,
    rgb(40, 80, 130) 0%,
    rgb(25, 60, 110) 33%,
    rgb(15, 45, 90) 100%
  );
  --background: linear-gradient(
    135deg,
    hsl(210 50% 35%) 0%,
    /* #285082 → 50% saturacija */ hsl(210 60% 28%) 33%,
    /* #193c6e */ hsl(210 70% 20%) 100% /* #0f2d5a */
  );

  --foreground: #ededed;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #2774ae;
//     /* --background: linear-gradient(to right top, #2774ae, #002e5d, #002e5d); */
//     /* --background: linear-gradient(
//       135deg,
//       rgb(5, 50, 84) 0%,
//       rgb(0, 31, 61) 33%,
//       rgb(0, 18, 37) 100%
//     ); */
//     --background: linear-gradient(
//       135deg,
//       rgb(40, 80, 130) 0%,
//       rgb(25, 60, 110) 33%,
//       rgb(15, 45, 90) 100%
//     );

//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at 30% 20%,
        hsla(210, 100%, 70%, 0.5) 0%,
        transparent 30%
      ),
      radial-gradient(
        circle at 70% 80%,
        hsla(200, 100%, 60%, 0.4) 0%,
        transparent 40%
      );
    mix-blend-mode: screen; /* osvetljava pozadinu */
    pointer-events: none;
    animation: breathe 6s ease-in-out infinite;
  }

  @keyframes breathe {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 96px 64px;

  @include tablet {
    padding: 64px 32px;
    margin: 0;
  }

  @include mobile {
    padding: 48px 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
