.cursor {
  position: fixed;
  width: 5px;
  height: 5px;
  background-color: var(--red-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  transition: all 0.15s ease;
}

.cursor::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}

/* Stil kursora kada je iznad linka ili buttona */
.hover {
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
}

.hover::after {
  width: 32px;
  height: 32px;
  border-color: rgba(255, 255, 255, 0.5);
}
