@use "../app/breakpoints.scss" as *;

.expertiseHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 72px;
    font-weight: 600;
    text-align: center;

    @include tablet {
      font-size: 56px;
    }

    @include mobile {
      font-size: 32px;
    }
  }

  .grid {
    margin-top: 64px;
    display: grid;
    width: 100%;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    @include mobile {
      margin-top: 32px;
      gap: 16px;
    }
  }

  .card {
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 32px;
    transition: transform 0.3s ease;
    cursor: pointer;

    @include tablet {
      padding: 24px;
    }
    @include mobile {
      padding: 16px;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 16px;
      color: #ffffff;
    }

    ul {
      list-style: none;
      padding: 0;

      @include tablet {
        column-count: 3;
        column-gap: 16px; /* razmak između kolona */
        list-style-position: inside;
      }

      @include mobile {
        column-count: 2;
      }

      li {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 8px;
        font-size: 16px;
        color: #ffffff;

        .icon {
          font-size: 24px;
          color: var(--red-color);
          display: flex;
          align-items: center;
        }
      }
    }

    &:hover {
      transform: translateY(-16px) !important;

      @include tablet {
        transform: none;
      }
      @media (pointer: coarse) {
        transform: none !important;
      }
    }
  }
}
