@use "../app/breakpoints.scss" as *;

.header {
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 128px;
  padding: 32px 56px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0);
  transition: all 0s ease-in;
  z-index: 300;

  @include desktop {
    gap: 32px;
  }

  @include tablet {
    padding: 16px 96px;
  }

  @include mobile-narrow {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  @include mobile {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  svg {
    width: 100%;
    g {
      fill: var(--red-color);
    }
  }

  &.sticky {
    position: fixed;
    padding: 4px 56px;
    top: -61.5px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in;

    @include mobile-narrow {
      display: none;
    }
    @include mobile {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--background);
      opacity: 0.6;
      z-index: -1;

      @include mobile-narrow {
        display: none;
      }
    }
  }
}
