.home {
  overflow: hidden;
  padding-top: 256px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  text-transform: uppercase;
  font-size: 6vw;
  line-height: 7vw;
  text-align: center;
}

.description {
  margin: 40px auto 124px;
  max-width: 960px;
  text-align: center;
  font-size: 18px;

  p {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
