@use "../app/breakpoints.scss" as *;

$transition: all 0.2s ease-in-out;

.projectsSection {
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 72px;
    font-weight: 600;
    text-align: center;

    @include tablet {
      font-size: 56px;
    }

    @include mobile {
      font-size: 32px;
    }
  }
}

.projectsHolder {
  margin-top: 64px;
  gap: 40px;
  position: relative;
  width: 100%;

  @include mobile {
    margin-top: 32px;
  }
}

.linkHolder {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .projectsButton {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  span {
    font-size: 12px;
    color: var(--red-color);
  }
}

.projectNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 200;

  @include mobile-portrait {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
  }
}

.list {
  list-style: none;
}

.projectsButton {
  width: 100%;
  min-height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  transition: $transition;
  font-family: var(--font-roboto-mono);

  &.isActive,
  &:hover {
    background: var(--red-color);
  }
}

.select {
  appearance: base-select;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border-radius: 0;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  padding: 0 8px;
  margin-top: 16px;
  font-family: var(--font-roboto-mono);

  &::picker(select) {
    appearance: base-select;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    background: var(--red-color);
    padding: 4px 8px;
    margin-top: 4px;
    color: var(--white-color);
  }

  &::picker-icon {
    color: #999;
    transition: 0.4s rotate;
  }

  &:open::picker-icon {
    rotate: 180deg;
  }

  option {
    min-height: 32px;
  }
}

.projectContent {
  display: flex;
  flex-direction: column;

  .projectTabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 60%;
    align-self: flex-end;

    @include mobile-portrait {
      width: 100%;
    }

    .tabButton {
      width: 100%;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
      border: 1px solid var(--white-color);
      color: var(--white-color);
      font-size: 16px;
      font-weight: 700;
      transition: $transition;
      font-family: var(--font-roboto-mono);

      &.tabButtonActive,
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .projectData {
  }
}

.projectTitle {
  margin-bottom: 8px;

  a {
    transition: $transition;

    &:hover {
      color: var(--red-color);
    }
  }
}

.tenure,
.siteUrl {
  margin-bottom: 8px;
  font-family: var(--font-roboto-mono);

  span {
    font-family: var(--font-poppins);
    font-weight: 700;
  }
  a {
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--red-color);
    }
  }
}

.projectDescription {
  font-family: var(--font-poppins);
  text-align: justify;
}

.projectTechnologies {
  margin-top: 8px;
  font-style: italic;

  span {
    font-style: normal;
    font-weight: 700;
  }
}
