.projectsSection {
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 75px;
    font-weight: 600;
    text-align: center;
  }
}

.projectsHolder {
  margin-top: 64px;
  gap: 40px;
  position: relative;
  width: 100%;
}

.projectNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  z-index: 100;
}

.projectContent {
  display: flex;
  flex-direction: column;

  .projectTabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 60%;
    align-self: flex-end;

    .tabButton {
      width: 100%;
      min-height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
      border: 1px solid white;
      font-size: 16px;
      font-weight: 700;

      &.tabButtonActive,
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .projectData {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
